#center {
    height: 200px;
    background: url(../images/newspaper.jpg);
    background-size: cover;
    width: 100%;
}

#text-center {
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    height: 200px;
}

#results {
	width: 100%;
}